
#text1{
    
    color: #FFFFFF;
    text-align: justify;
    font-size: 120%;
    border-color: #DC143C;

}
#text2{    
    color:#FFFFFF;
    font-size: 120%;
     text-align: justify;
 }
 #body{
    position: relative;
    background-image:url("/assets/ladrillo.png");
 }


#header{
    position: relative;
    background-image:url("/assets/vizon.png");
     border-color: #FFFFFF;

    }

.p{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    
}

