<p>Hola <%= @resource.email %>!</p>

<p>Su cuenta ha sido bloqueada debido a un excesivo intentos de iniciar sesión erroneos.</p>

<p>Haga click en el siguiente link para poder desbloquear su cuenta: </p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
