<!--
<%= link_to "Listado de busqueda", products_path %>


<table class="table table-striped">
<tr>
	<th>Nombre</th>
	<th>Descripcion</th>
</tr>

<% @prod.each do |p| %>
<tr>
	<td> <%= p.nombre:nombre %> </td>
	<td><%= p.descripcion:descripcion %></td>
</tr>
<% #end %>

</table>-->